* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: red; */
  background-image: url("https://cfotech.com.au/uploads/story/2019/10/09/passwords.jpg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}

h1 {
  color: orange;
  border: 1px solid yellow;
  width: 20%;
}
h2 {
  color:orange;
  border: 1px solid yellow;
  width: 20%;
}
.container-psw {
  margin: 10px;
  border: 2px solid green;
  width: 20%;
  /* background-color: red; */
}
#password {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: red;
}
/* #cognome-utente {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color:red;
}
#colore-preferito {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color:red;
} */
#anno {
  color:red;
}
